<script src="/release/go-debug.js"></script>
<div class="draw-content">
	<div class="left-menu div-inline" id="myPaletteDiv"></div>
	<div class="stretched column div-inline" id="myDiagramDiv" style="border:solid 1px blue; margin: 0 5px;"></div>
</div>


<!-- Create the Diagram in the DIV element using JavaScript. -->
<!-- The "go" object is the "namespace" that holds all of the GoJS types. -->
<script src="/js/dfd.js"></script>
<script type="text/javascript">
	
</script>