<div class="home-content">
	
	<div class="intro">
		<h1>欢迎使用本平台</h1>
		<p>
			<span style="color: #666">北京工业大学实训建模平台</span>
			暂支持数据流图、UML类图、用例图，其他类型也在开发中
		</p>
		<h3>
			点击下方进行登陆，即刻开始建模
		</h3>
		<br>
		<br>
		<% if (user) {%>
			<a href="/home/<%= user._id %>">
				<button class="big ui button">进入主页</button>
			</a>
			
		<%} else {%>
			<a href="/login">
			<button class="big ui button">登陆</button></a>
		<% } %>
	</div>
</div>