<div class="nav-setting">
  <div class="ui buttons">
    <div class="ui floating dropdown button">
      <% if (user) { %>
        <img class="avatar" src="/img/login.png">
      <% } else { %>
        <img class="avatar" src="/img/unlogin.png">
      <% } %>
      <div class="menu">
        <% if (user) { %>
          <a class="item" href="/logout">登出</a>
        <% } else { %>
          <a class="item" href="/login">登录</a>
          <!-- <a class="item" href="/signup">注册</a> -->
        <% } %>
      </div>
    </div>
  </div>
</div>
