<div class="nav">
	<div class="ui grid">
		<div class="four wide column" style="text-align: center; margin-left: 5px;">
			<a href="/home"><img src="/img/logo.png"></a>
		</div>
		<div class="eight wide column">
		</div>
	</div>
</div>