<div class="nav">
	<div class="ui grid">
		<div class="four wide column" style="text-align: left; margin-left: 5px;">
			<a href="/home"><img src="img/logo.png"></a>
		</div>

		<div class="eight wide column">
			<!-- <p><%= blog.description %></p> -->
		</div>
	</div>
</div>