	<!-- <div class="for wide column right floated">
		<div class="ui right floated primary button" onclick="save()">保存</div>
	</div> -->
<div class="ui sixteen column" style="background-color: WHITE">
	
		<div class="four wide column">
			<a href="/home"><img style="height: 50px; margin: 5px 0px" src="/img/logo.png"></a>
		</div>
		<div class="ui primary button save-button" onclick="save()">保存</div>
</div>
