/* ---------- 全局样式 ---------- */

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: 0px;
}

/*a:hover {
    border-bottom: 3px solid #4fc08d;
}*/
a {
    color: #999;
}

.button {
    background-color: #4fc08d !important;
    color: #fff !important;
}

.avatar {
    border-radius: 3px;
    width: 48px;
    height: 48px;
    float: right;
}

/* ---------- nav ---------- */

.nav {
    height: 80px;
    margin-bottom: 5px;
    color: #999;
    text-align: center;
}


.nav img {
    padding: 5px 5px;
    height: 50px;
}

/* ---------- nav-setting ---------- */

.nav-setting {
    position: fixed;
    right: 15px;
    top: 10px;
    z-index: 999;
}

.nav-setting .avatar {
    height: 40px;
    width: 40px;
}


.nav-setting .ui.dropdown.button {
    padding: 0 0 0 0;
    background-color: #fff !important;
}

.nav-setting .icon.bars {
    color: #000;
    font-size: 18px;
}

/* ---------- post-content ---------- */

.post-content h3 a {
    color: #4fc08d !important;
}

.post-content .tag {
    font-size: 13px;
    margin-right: 5px;
    color: #999;
}

.post-content .tag.right {
    float: right;
    margin-right: 0;
}

.post-content .tag.right a {
    color: #999;
}

/* ---------- home-content ---------- */
.home-content {
    height: calc(100% - 90px);
    width: 100%;
    background: url(../img/background.jpg);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-content .intro {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    margin-top: -150px;
    height: 300px;
}

/* ---------- copyright ---------- */

.copyright {
    height: 10px;
    color: #999;
    text-align: center;
}

.user-content {
    height: calc(100% - 90px);
    width: 100%;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.user-content .left-menu {
    height: 100%;
    width: 200px;
    background-color: #C5C5C5;
    text-align: center;
}

.new-file {
    position: relative;
    display: inline-block;
    padding: 1.2em 2em;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    user-select: none;
    color: white;
    top: 30px;
}
.new-file::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    border-radius: 4px;
    transition: box-shadow .5s ease, transform .2s ease; 
    will-change: transform;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transform:
        translateY(var(--ty, 0))
        rotateX(var(--rx, 0))
        rotateY(var(--ry, 0))
        translateZ(var(--tz, -12px));
}

.new-file:hover::before {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
}
.new-file::after {
    position: relative;
    display: inline-block;
    content: attr(data-title);
    transition: transform .2s ease; 
    font-weight: bold;
    letter-spacing: .01em;
    will-change: transform;
    transform:
        translateY(var(--ty, 0))
        rotateX(var(--rx, 0))
        rotateY(var(--ry, 0));
}

.user-content .left-menu .new-file p{
    margin-top: 10px;
}

/* ---------- right-diagrams ---------- */

.user-content .right-diagrams {
    height: 100%;
    width: calc(100% - 210px);
    margin-right: 10px;
    background-color: #C5C5C5;
    text-align: center;
}

.div-inline {
    float: left;
}

.file-list {
    width: 100%;
}

.file-list-item {
    
}